<!DOCTYPE html>
<html>
  <head>
    <title>Codebreaker</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
  </head>
  <body>
    <div id = "container">
      <h1>It's Codebreaker Game</h1>
      <p><%= get_cookies %></p>
      <!-- <p><%= get_cookie("guess") %></p>
      <p><%= get_cookie("hint") %></p> -->
      <div id="guess-hint">
        <h3>Guess secret code!</h3>
        <form method="post" action="/guess">
          <p><input class="text" type="text" name="guess"></p>
          <p><input class="button" type="submit" value="Guess"></p>
        </form>
        <form method="post" action="/hint">
          <p><input class="button" type="submit" value="Hint"></p>
        </form>
      </div>
      <div id="gameplay">
        <h3>Your progress</h3>
        <p><%= attempt_remains %> attempt remains</p>
        <ul>
          <% get_gameplay.each do |item| %>
            <li><%= item %></li>
          <% end %> 
        </ul>
      </div>
    </div>
    <%= render "shared/scores.html.erb" %> 
  </body>
</html>